# Filter away stuff we don't want on the central syslog server
:msg, contains, "Connection from UDP:" ~
:msg, contains, "Finished catalog run" ~
:msg, contains, "Compiled catalog for" ~
:msg, contains, "ipSystemStatsTable node ipSystemStatsOutFragOKs not implemented:" ~
:msg, contains, "iquerySecName has not been configured" ~
:msg, contains, "truncating integer value" ~
:msg, contains, "Could not prefetch package provider" ~
:msg, contains, "[UFW " ~a

*.emerg;*.alert;*.crit;*.err;*.warn @<%= @server %>
