127.0.0.1   localhost
#127.0.1.1   <%= @hostname %>.comin.dk   <%= @hostname %>

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

# Management Server
<%= @mgt_server %>   puppet.int.comin.dk puppet.comin.dk puppet
<%= @mgt_server %>   syslog.int.comin.dk syslog.comin.dk syslog
<%= @mgt_server %>   mgt.int.comin.dk mgt.comin.dk mgt

# Mangement nework
10.1.100.1      switch.int.comin.dk switch

# Hosts on internal network
10.1.101.191    fs01.int.comin.dk   fs01.comin.dk   fs01
10.1.101.201    pm01.int.comin.dk   pm01.comin.dk   pm01
10.1.101.202    pm02.int.comin.dk   pm02.comin.dk   pm02
10.1.101.203    pm03.int.comin.dk   pm03.comin.dk   pm03

# Nameservers
213.150.52.2    ns.comin.dk ns
213.150.52.3    ns2.comin.dk ns2

# VPS
213.150.52.22   vps22.comin.dk vps22
213.150.52.23   vps23.comin.dk vps23

