# Fail2Ban configuration file.

[DEFAULT]

# "ignoreip" can be an IP address, a CIDR mask or a DNS host
ignoreip = <%= @ignore %>
bantime  = <%= @bantime %>
maxretry = <%= @maxretry %>

#
# Destination email address used solely for the interpolations in
# jail.{conf,local} configuration files.
destemail = <%= @email %>


[dovecot]

enabled = false
port    = smtp,ssmtp,imap2,imap3,imaps,pop3,pop3s
filter  = dovecot
logpath = /var/log/exim4/mainlog

